### while
- it executes block or set of instructions until the condition get false
- while we dont the range
- execute faster then the for loop 
- user incrementation

In [ ]:
#while syntax
initilization
while condition:
    stmts
    inc/decrement

In [1]:
n=1
while n<=5:
    print("vasavi clg")
    n=n+1

vasavi clg
vasavi clg
vasavi clg
vasavi clg
vasavi clg

In [3]:
i=10
while i>=0:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1 0

In [4]:
#i/p 1234
#o/p digit count:4
s=int(input())
c=0
while s!=0:
    c=c+1
    s=s//10
print("\n digit count",c)

12589632

 digit count 8

In [11]:
#check the given number is palindrom or not
n=int(input())
temp=n
rev=0
while n!=0:
    r=n%10
    rev=rev*10+r
    n=n//10    
if temp==rev:
    print("palindrom")
else:
    print("nat a palindrom")

121
palindrom

In [ ]:
#syntax: nested for loop
for iter in range(start,end,step):
    stmts n
    for iter in range(start,end,step):
        stmts

In [19]:
# matrix formation
#- rows,columns
#- 2dimensions
#    1 2 3
 #   1 2 3
n=int(input("enter rows for matrix:"))
m=int(input("enter columns for matrix:"))
for i in range(1,n+1):
    for j in range(1,m+1):
        print("$",end=" ")
    print()

enter rows for matrix:5
enter columns for matrix:6
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $

In [24]:
n=int(input())
m=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print( )

5
5
*
* *
* * *
* * * *
* * * * *

In [30]:
n=int(input())
m=int(input())
for i in range(n,0,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    print( )
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print( )

5
5
* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

In [41]:
st=int(input())
et=int(input())
for num in range(st,et+1):
    c=0
    for var in range(1,num+1):
        if num%var==0:
            c=c+1
    if c==2:
        print(num,end=" ")

10
100
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [40]:
for n in range(1,11):
    for i in range(1,11):
        print(n,"*",i,"=",n*i)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
# nested while
- loop inside another loop

In [ ]:
# syntax
initilization
while condition:
    stmts n
    incr/dcr
    while comdition:
        stmts n
        incr/dcr

In [45]:
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j=j+1
    print()
    i=i+1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### jump statements
- we can called as unconditional jumps
    - Brerak
    - Continue
    - Pass

### Break 
- terminates the current loop statements
- Break is a keyword

In [46]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [56]:
n=int(1)
while i<=10:
    if i==6:
        break
    i=i+1
    print(i)

10
11

### Continue
- skip onlu current iteration and continue the next iteration 
- continue is also a keyword

In [50]:
for i in range(10):
    if i==6:
        continue
        print("hai")
    print(i)

0
1
2
3
4
5
7
8
9

In [57]:
#print odd number using even number condition using continue statement
for i in range(1,10):
    if i%2==0:
        continue
        print(i,end=" ")
    else:
        print(i,end=" ")

1 3 5 7 9

### Pass
- it is a keyword 
- when we need the condition scientifically correct need to change another operation
- it is a null operation
- pass statement we use to create empty class also

In [59]:
s="python"
for i in s:
    if i=='h':
        pass
        print("pass executed")
    print(i)

p
y
t
pass executed
h
o
n

### Strings
- string is a group of character
- string is a derived datatype and immutable
- all strings return a new value

In [60]:
a="srivasavicollege"
print(type(a))

<class 'str'>

In [61]:
len(a)

18

In [72]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

v
[' ', ' ', 'a', 'a', 'c', 'e', 'e', 'g', 'i', 'i', 'l', 'l', 'o', 'r', 's', 's', 'v', 'v']

In [73]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [86]:
# slicing syntax::(start:end:step)
# positive indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[: :])
print(s[::-1])

15
p
n
p
p
o
python workshop
pohskrow nohtyp

In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [10]:
s="vasavi college"
S='vasavi college'
s1='''i am from
india
       nithin reddy'''
s2="""here we are
going to
       do wonders"""
print(s1)
print(S)
print(s)
print(s2)
print(len(s2))

i am from
india
       nithin reddy
vasavi college
vasavi college
here we are
going to
       do wonders
38

In [8]:
print(s.capitalize())

Vasavi college

In [13]:
n="Vijayawada DISTRICT"
print(n)
print(n.upper())
print(n.lower())

Vijayawada DISTRICT
VIJAYAWADA DISTRICT
vijayawada district

In [15]:
m="faculty development program"
print(m)
print(m.title())

faculty development program
Faculty Development Program

In [17]:
n1="workshop"
n2="WORKSHOP"
N3="workshop"
print(n1.islower(),n2.isupper(),N3.isupper())

True True False

In [18]:
n3="India Is My Country"
print(n3.istitle())

True

In [19]:
n4=" "
print(n4.isspace())

True

In [23]:
#isdigit:: which is used to identify the didits in a given string
#isalpha:: which returns true,alphabets present
r="python"
r.isalpha()

True

In [24]:
r.isdigit()

False

In [25]:
s="34569741256"
s.isalnum()

True

In [27]:
s1="python is a latest version and today is thusrsday"
s2="pytho@n is a la@test v@ersion a@nd tod@ay is thus@rsday"
s2.split('@')

['pytho', 'n is a la', 'test v', 'ersion a', 'nd tod', 'ay is thus', 'rsday']

In [28]:
s1.split()

['python', 'is', 'a', 'latest', 'version', 'and', 'today', 'is', 'thusrsday']

In [31]:
s2="DATE of birth"
s=''
for i in s2:
    if i.islower():
        s +=i.upper()
    else:
        s +=i.lower()
print(s)

date OF BIRTH

In [33]:
#swap case
s2.swapcase()

'date OF BIRTH'

In [34]:
s2.count('a')

0

In [38]:
b="ksharon k k"
b.count('k')

3

In [39]:
b.index('h')

2

In [40]:
b.rindex('h')

2

In [41]:
#find--it will return index position of that index
b.find('a')

3

In [48]:
a="this is a python workshop"
a.index('is')

2

In [43]:
# replace:: used to replace the old characters
# strip :: used to remove white spaces
d="bye vasavi college"
d.replace('bye','hi')

'hi vasavi college'

In [44]:
d="  hello sdc    "
d.strip()

'hello sdc'

In [45]:
d.lstrip()

'hello sdc    '

In [46]:
d.rstrip()

'  hello sdc'

In [53]:
# join
# center
# startswith
#endswith
a="thursday"
'.'.join(a)

't.h.u.r.s.d.a.y'

In [55]:
a.center(4)

'thursday'

In [56]:
a.zfill(10)

'00thursday'

In [57]:
s2="today is the thirday of the program"
len(s2)

35

In [59]:
s2.zfill(41)

'000000today is the thirday of the program'

In [60]:
s2.startswith('to')

True

In [61]:
s2.startswith('day')

False

In [62]:
s2.endswith('pro')

False

In [65]:
s2.endswith('gram')

True

### Data Structures
- List 
    - it is one of the data structure in python
    - list is mutable
    - represented with []
    - slicing and indexing are same as strings concepts
- Tuple
- Dictionaries
- DT are two types:
    - Immutable
       - we cant change it omce it declared
       - ex: String,Tuple
    - Mutable
       - we can change at any time after its declaration
       - ex: List,Dictionaries

In [66]:
li=[1,2,3,6,9]
print(li)

[1, 2, 3, 6, 9]

In [67]:
len(li)

5

In [68]:
print("length of the list",len(li))
print("max one of the list",max(li))
print("min one of the list",min(li))

length of the list 5
max one of the list 9
min one of the list 1

In [78]:
a=['apple',5,6]
b=[4,8,'today',5]
a+b

['apple', 5, 6, 4, 8, 'today', 5]

In [79]:
b+a

[4, 8, 'today', 5, 'apple', 5, 6]

In [80]:
a*3

['apple', 5, 6, 'apple', 5, 6, 'apple', 5, 6]

In [81]:
(a+b)*2

['apple', 5, 6, 4, 8, 'today', 5, 'apple', 5, 6, 4, 8, 'today', 5]

In [82]:
'apple' in a

True

In [84]:
'today' not in a

True

In [85]:
'today' in b

True

In [86]:
'today' not in b

False

In [88]:
names=['siddu','nithin','swami','mani','sharon','mahesh']
names[0]

'siddu'

In [89]:
names[5]

'mahesh'

In [100]:
names[0:3]

['siddu', 'nithin', 'swami']

In [94]:
s='ramesh'
s[0]
s[:3]
s[2:6]

'mesh'

In [102]:
li2=['vasavi','college','hostel','students']
li2[2:]

['hostel', 'students']

In [103]:
li2[:2]

['vasavi', 'college']

In [108]:
li2[1:3]

['college', 'hostel']